<main class="container mt-5">
    <form #userForm="ngForm" (ngSubmit)="onLoginClicked(userForm)">
        <label class="form-label" for="username">Username:</label>
        <input class="form-control" type="text" 
            id="username" 
            name="username" 
            placeholder="Your username"
            minlength="2"
            required 
            ngModel
            #username="ngModel"
            [ngClass]="{ 
                'is-valid': username.valid, 
                'is-invalid': (username.invalid && (username.dirty || username.touched) ) }"
        />
        <div *ngIf="username.errors && username.invalid && (username.dirty || username.touched)">
            <p class="invalid-feedback" *ngIf="username.errors.required">The username is required</p>
            <p class="invalid-feedback" *ngIf="username.errors.minlength">The username must be at least 2 characters</p>
        </div>
        <input [disabled]="userForm.invalid" class="btn btn-primary mt-2" type="submit" value="Log in"/>
    </form>
</main>