* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.invalid-feedback {
    display: block;
}

.pokemon-box {
    display: grid;
    grid-template-columns: 2fr 4fr;;
}

ul {
    list-style-type: none;
}