<main class="container">
    <h1>Your collected Pokémon</h1>
    <ul>
        <li *ngFor="let pokemonName of localStoragePokemon; index as i;">
            <main class="pokemon-box">
                <span class="btn btn-primary">{{ pokemonName }}</span>
                <img alt="pokemon" src="assets/pokemon-images/{{localStoragePokemonIndexes[i] + 1}}.png" />
            </main>
        </li>
    </ul>
</main>
