<ul class="container">
    <a (click)="onGoForwardClick()" role="button" class="btn btn-primary" routerLink="/profile">Go to your collection</a>
    <li *ngFor="let p of pokemon; index as i;">
        <main class="pokemon-box" (click)="onPokemonClicked(p, i)">
            <span class="btn btn-primary">{{ p.name }}</span>
            <span *ngIf="selectedPokemonIndexes.includes(i)"></span>
            <img alt="pokemon" src="assets/pokemon-images/{{i + 1}}.png" />
            <span class="material-icons" *ngIf="selectedPokemonIndexes.includes(i)">check_circle</span>
        </main>
    </li>
</ul>