.pokemon-box:hover {
    background-color: yellow;
}

span {
    margin-right: 2em;
}

.material-icons {
    color: lightgreen;
    margin-top: 1em;
    margin-left: 1.5em;
}

a {
    margin-bottom: 3em;
    background-color: lightgreen;
    margin-left: 5em;
}